@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body,html{
  background: #121212;
  font-family: 'Twinkle Star', cursive;
}
main{
  width: 100%;
height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav{
  width: 20%;


  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #A020F0;
}
aside{
  width: 80%;
  padding: 5% 2%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.about p{
display: block;
  word-spacing: 1.8px;
  width: 70%;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 0 auto;
}
nav li{
  margin: 20px 0;
  cursor: pointer;
  font-size: 1.3rem;
  color: #e7e7e7;
}


aside p{
  color: #fff;
  padding: 20px;
}
.heading h1{
  color: #fff;
  font-size: 1.8rem;
}
#profile{
  width: 50%;
  border-radius: 50%;
  object-fit:fill;
}
footer{
  position: absolute;
  bottom: 5%;
}
footer a{
  color: #fff;
}