@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');




:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
Show All Properties (1 more)
}

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body,html{
  background: #121212;
  font-family: 'Twinkle Star', cursive;
}
main{
  width: 100%;
height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav{
  width: 20%;


  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #A020F0;
}
aside{
  width: 80%;
  padding: 5% 2%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.about p{
display: block;
  word-spacing: 1.8px;
  width: 70%;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 0 auto;
}
nav li{
  margin: 20px 0;
  cursor: pointer;
  font-size: 1.3rem;
  color: #e7e7e7;
}


aside p{
  color: #fff;
  padding: 20px;
}
.heading h1{
  color: #fff;
  font-size: 1.8rem;
}
#profile{
  width: 50%;
  border-radius: 50%;
  object-fit:fill;
}
footer{
  position: absolute;
  bottom: 5%;
}
footer a{
  color: #fff;
}
